<div class="main-image">
  <p class="description">
    行きたい場所が決まったその瞬間に、<br>旅の支度をはじめよう！
  </p>
</div>

    <div id="buttons">
      <div class="button">
        <div class="fb-share-button" data-href="https://tabinootomo.herokuapp.com/" data-layout="button_count"></div>
      </div>

      <div class="button">
        <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="standard-balloon" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      </div>

      <div class="button tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" >Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

    </div>


<div class="contents">
  <p></p>
  <form action="/tabi/create" method="post" class="register-form main-box">
    <div>
      <p class="align-center">旅のお供は、旅のしおりを<br>簡単に共有することができる<br>旅行を楽しむためのサービスです。</p>
      <p class="align-center">この旅の名前を決めて、<br>さっそくしおりを作ってみよう！</p>
      <input name="title" type="text" placeholder="例：スカイツリーを巡る旅！" class="register-placeholder" required />
    </div>
    <div>
      <input type="submit" value="しおりを作成する！" class="primary-btn primary-btn-index"/>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  </form>
  <h3 class="how-to-use">旅のお供の使い方</h3>
  <p class="step">step1</p>
  <p class="step-text">旅のタイトルを決めましょう。</p>
  <p class="step">step2</p>
  <p class="step-text">行きたい場所を挙げていきましょう。地図を入れたり、行きたい順番に並び替えると便利に使えます。</p>
  <p class="step">step3</p>
  <p class="step-text">できたしおりはみんなに送ろう！共有した人となら誰でも編集することができます。</p>
  <p class="step">当日</p>
  <p class="step-text">あとは旅のお供を見ながら回るだけ！旅先で地図や詳細を調べる必要はありません！</p>
    <form action="/tabi/create" method="post" class="register-form main-box">
    <p class="align-center">さあ今すぐ作ってみよう！</p>
    <div>
      <input name="title" type="text" placeholder="例：北海道グルメの旅！" class="register-placeholder" required />
    </div>
    <div>
      <input type="submit" value="しおりを作成する！" class="primary-btn primary-btn-index"/>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  </form>
</div>
