<div class="main-image">
  <p class="description">
    行きたい場所が決まったその瞬間に、<br>旅の支度をはじめよう！
  </p>
</div>
<div class="contents">
  <p>「旅のお供」は、旅のしおりを作れるサービスです。</p>

<p class="align-center">さっそく作ってみる</p>
  <form action="/tabi/create" method="post" class="register-form main-box">
    <div>
      <input name="title" type="text" placeholder="例：スカイツリーが見たい！" class="register-placeholder" required />
    </div>
    <div>
      <input type="submit" value="しおりを作成する！" class="primary-btn primary-btn-index"/>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  </form>

  <p>行きたい場所を入れるだけで、しおりの完成です。<br>
    できたしおりは、LINEで友達に送れます。<br>
    下調べのための最高のソリューション。<br>
    せっかくの旅行なんだから、最高の旅行にしたい。<br>
    あとは、楽しむだけ。これでもう、旅先でバスの乗り換えを調べる必要はありません。</p>
  <p class="read-more"><a href="">» 使い方を詳しく見る </a></p>
  <p class="align-center">まずはこの旅の名前を決めよう！</p>
  <form action="/tabi/create" method="post" class="register-form main-box">
    <div>
      <input name="title" type="text" placeholder="例：スカイツリーが見たい！" class="register-placeholder" required />
    </div>
    <div>
      <input type="submit" value="しおりを作成する！" class="primary-btn primary-btn-index"/>
    </div>
    <input type="hidden" name="authenticity_token" value="<%= csrf_token %>" />
  </form>
</div>
