<html>
  <head>
    <meta charset="utf-8">
    <title>
      旅のお供
    </title>
    <link rel="stylesheet" type="text/css" href="/style"/>
  </head>
  <body>
    <h1>旅のお供</h1>
    <%== yield %>
    <script type="text/javascript" src="/js/vendor/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/js"></script>
  </body>
</html>
