@import "compass";
@import "normalize";

$bg_color: #fff;
$primary: #ffa161;
$text: #666666;
$border: #ddd;
$bg: #f4ebe6;


// common
body {
  background: $bg_color;
  font-size: 16px;
  color: $text;
  line-height: 1.2;
}
p {
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 5%;
}
.base-width {
  margin: 0 auto;
}
.primary-btn {
  background: $primary;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 120%;
  padding: 6px 15px;
  @include border-radius (3);
}


// header
header {
  padding: 0 10px;
  background: $bg;
}
.title {
  margin: 0;
  padding: 8px 0;
  font-size: 150%;
  a {
    text-decoration: none;
    color: $text;
  }
  img {
    width: 100px;
    height: 24px;
  }
}

// index page
.page-index {
  header {
    text-align: center;
  }
  .title img {
    width: 150px;
    height: 36px;
  }
}
.description {
  text-align: center;
}
.register-form {
  margin: 0 auto;
}
.register-placeholder {
  width: 100%;
  border: 1px solid $border;
  padding: 2px 8px;
  font-size: 110%;
  @include border-radius(3);
}
.index-primary-btn {
  margin: 10px 0 0 0;
  width: 100%;
}
.about {
  text-align: center;
  margin: 30px 0 0 0;
}
.about-title {
  font-size: 110%;
}

// tabi
.tabi-title {
  font-size: 150%;
  margin: .5em 0;
  text-align: center;
}
.edit-btn {
  text-align: right;
  font-size: 80%;
}
.activity-list {
  margin: 0 auto;
  li {
    display: block;
    // border-bottom: 3px solid #ffa161;
    padding: 2px 4px;
    margin: 0 0 8px 0;
    font-size: 120%;
  }
}
.add-activity-form {
  width: 80%;
}
.add-activity-btn {
  cursor: pointer;
  float: right;
  width: 18%;
}
.share {
  text-align: center;
  margin: 20px 0 0 0;
}
.copy-url {
  width: 100%;
}


// footer
footer {
  margin: 30px 0;
  text-align: center;
}

// edit page

body.dragging, body.dragging * {
  cursor: move !important;
}

.sortable {
    .handle {
        cursor: move;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }
}