@import "compass";
@import "normalize";

$bg_color: #fff;
$primary: #ffa466 ;
$text: #666666;
$link: #7ab266;
$border: #efe3df;
$header-bg: #f4ebe6;
$main-bg: #f9f4f2;
$list-link: #666;



// common
body {
  background: $bg_color;
  font-size: 16px;
  color: $text;
  line-height: 1.2;
  word-break: break-all;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $link;
}
input {
  -webkit-appearance: none;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 5%;
}
.primary-btn {
  background: $primary;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid darken($primary, 5%);
  @include border-radius (3);
}
.main-box {
  background: $main-bg;
  margin: 0 auto;
  padding: 15px;
  @include border-radius (3);
}
.main-input {
  width: 100%;
  border: 2px solid $border;
  padding: 6px 4px;
  @include border-radius(3);
}


// header
header {
  padding: 0 10px;
  background: $header-bg;
}
.title {
  margin: 0;
  padding: 8px 0;
  font-size: 150%;
  a {
    text-decoration: none;
    color: $text;
  }
  img {
    width: 100px;
    height: 24px;
  }
}

// index page
.page-index {
  header {
    text-align: center;
  }
  .title img {
    width: 150px;
    height: 36px;
  }
}
.description {
  text-align: center;
}
.register-form {
}
.register-placeholder {
  width: 100%;
  border: 3px solid $border;
  padding: 6px 4px;
  font-size: 120%;
  @include border-radius(3);
}
.primary-btn-index {
  margin: 10px 0 0 0;
  width: 100%;
  font-size: 120%;
  padding: 6px 15px;
}
.about {
  text-align: center;
  margin: 30px 0 0 0;
}
.about-title {
  font-size: 110%;
}

// tabi
.page-tabi {
  .main-box {
    padding: 0 15px 15px 15px;
  }
}
.tabi-title {
  font-size: 130%;
  margin: .5em 0;
  text-align: center;
}
.edit-btn {
  text-align: right;
  font-size: 80%;
  margin: 10px 0;
  color: $link;
  i {
    padding: 0 2px 0 0;
    vertical-align: top;
  }
}
.activity-list {
  margin: 0 auto;
  li {
    display: block;
    border-bottom: 2px solid $border;
  }
}
.activity-list-link {
  display: block;
  font-size: 120%;
  padding: 12px 2px;
  color: $list-link;
  background: url("/images/arrow-right.svg") no-repeat right center;
}
.activity-list-empty {
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 80%;
  p {
    margin: 0;
  }
}
.add-activity {
  margin: 10px 0 0 0;
}
.add-activity-input {
  width: 80%;
  border: 3px solid $border;
  padding: 6px 4px;
  @include border-radius(3);
}
.add-activity-btn {
  cursor: pointer;
  float: right;
  width: 18%;
  padding: 6px 0;
}
.share {
  text-align: center;
  margin: 20px 0 0 0;
}
.copy-url {
  width: 100%;
}


// footer
footer {
  margin: 30px 0;
  text-align: center;
}

// edit page

body.dragging, body.dragging * {
  cursor: move !important;
}

.rearrange-activity {
  li {
    border-bottom: 2px solid $border;
    padding: 5px 0;
  }
}
.preserve-btn {
  margin: 10px 0 0 0;
  padding: 3px 15px;
}
.sortable {
    .handle {
        cursor: move;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }
}