@import "compass";
@import "normalize";
@import "mixin";

$bg_color: #fff;
$primary: #ffa466 ;
$text: #666666;
$link: #7ab266;
$border: #efe3df;
$header-bg: #efe3dc;
$main-bg: #f9f4f2;
$sub-bg: #f4f4f4;
$list-link: #666;



// common
body {
  background: $bg_color;
  font-size: 16px;
  color: $text;
  line-height: 1.2;
  word-break: break-all;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: $link;
  &:hover {
    color: lighten($link, 10%);
  }
}
input, input[type="search"], textarea {
  -webkit-appearance: none;
  box-sizing: border-box;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
}
.contents {
  padding: 0 15px;
}
.primary-btn {
  background: $primary;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-bottom: 3px solid darken($primary, 5%);
  @include border-radius (3);
}
.secondary-btn {
  background: #86b7c4;
  color: #fff;
  padding: 4px 6px;
  font-size: 90%;
  margin: 0 0 5px 0;
  display: inline-block;
  border: none;
  @include border-radius(3);
  i {
    margin: 0 3px 0 0;
  }
}
.main-box {
  background: $main-bg;
  margin: 0 auto 20px;
  padding: 15px;
  @include border-radius (3);
}
.main-input {
  width: 100%;
  border: 2px solid $border;
  padding: 6px 4px;
  @include border-radius(3);
}


// header
header {
  max-width: 400px;
  background: $header-bg;
  position: relative;
  margin: 0 auto;
}
.title {
  margin: 0;
  padding: 8px 0;
  font-size: 150%;
  text-align: center;
  a {
    text-decoration: none;
    color: $text;
  }
  img {
    width: 100px;
    height: 24px;
  }
}
.undo-btn {
  position: absolute;
  font-size: 110%;
  top: 11px;
  left: 5px;
  i {
    margin: 0 3px 0 0;
  }
}

// index page
.page-index {
  header {
    text-align: center;
  }
  .title img {
    width: 150px;
    height: 36px;
  }
}
.description {
  text-align: center;
}
.register-form {
}
.register-placeholder {
  width: 100%;
  border: 3px solid $border;
  padding: 6px 4px;
  font-size: 120%;
  @include border-radius(3);
}
.primary-btn-index {
  margin: 10px 0 0 0;
  width: 100%;
  font-size: 120%;
  padding: 6px 15px;
}
.about {
  text-align: center;
  margin: 30px 0 0 0;
}
.about-title {
  font-size: 110%;
}

// tabi, activity
.page-tabi {
  .main-box {
    padding: 0 15px 15px 15px;
  }
}
.tabi-title {
  background: $sub-bg;
  margin-top: 0;
  font-size: 120%;
  padding: 10px 15px;
}
.item-title {
  margin: 1.3em 0 .5em 0;
  font-size: 100%;
}
.edit-btn {
  text-align: right;
  font-size: 80%;
  margin: 10px 0;
  color: $link;
  display: block;
  i {
    padding: 0 2px 0 0;
    vertical-align: top;
  }
}
.activity-list {
  margin: 0 auto;
  li {
    display: block;
    border-bottom: 2px solid $border;
  }
}
.activity-list-link {
  display: block;
  font-size: 120%;
  padding: 12px 2px;
  color: $list-link;
  background: url("/images/arrow-right.svg") no-repeat right center;
  &:hover {
    color: lighten($list-link, 15%);
  }
}
.activity-list-empty {
  padding: 15px 0 0 0;
  text-align: center;
  font-size: 90%;
  line-height: 1.3;
  p {
    margin: 0;
  }
}
.add-activity {
  margin: 10px 0 0 0;
}
.add-activity-input {
  width: 80%;
  border: 3px solid $border;
  padding: 6px 4px;
  @include border-radius(3);
}
.add-activity-btn {
  cursor: pointer;
  float: right;
  width: 18%;
  padding: 6px 0;
}
.share {
  text-align: center;
  margin: 20px 0 0 0;
  padding: 15px;
  background: $sub-bg;
  @include border-radius(3);
}
.share-title {
  margin: .5em 0 .7em;
}
.copy-url {
  margin: 10px 0 0 0;
  border: 2px solid #ddd;
}
.activity-title {
  background: $sub-bg;
  margin-top: 0;
  font-size: 110%;
  font-weight: normal;
  padding: 10px 15px;
}
.current-activity {
  font-weight: bold;
}
.map-view {
  position: relative;
}
.close-btn {
  background: #999;
  color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 180%;
  width: 40px;
  height: 40px;
}


// footer
footer {
  margin: 30px 0;
  text-align: center;
  color: #ccc;
}

// edit page

body.dragging, body.dragging * {
  cursor: move !important;
}

.rearrange-activity {
  position: relative;

  li {
    line-height: 1.2;
    border-bottom: 2px solid $border;
    padding: 10px 0;
    font-size: 130%;
    &:first-child {
      border-top: 2px solid $border;
    }

    .handle {
      @include border-radius(3);
      border: 1px solid #eee;
      background: #f5f5f5;
      padding: 5px 5px 5px 80px;
      margin: -5px 0px;
      float:right;
      cursor: move;
    }

    &.dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }

  }
}
.preserve-btn {
  margin: 10px 0 0 0;
  padding: 5px 15px;
  font-size: 120%;
  width: 100%;
}
.delete-form {
  text-align: right;
}
.delete-btn {
  border: none;
  text-decoration: underline;
  background: none;
  margin-top: 10px;
  padding: 0;
  @include sub-text-link;
}
